<form #form="ngForm" novalidate name="form" class="d-flex align-items-center flex-column">
  <div class="content-titles">
    <h1 class="custom-title">Geração de certificado</h1>
    <p class="mb-4 custom-subtitle">Preencha os dados para gerar um novo certificado</p>
  </div>
  <div class="custom-card ">
    <h2 class="card-title">Novo certificado</h2>
    <div class="mb-3 custom-input-group">
      <label [ngClass]="{'text-danger-label':campovalido(nomeRef)}" for="nome" class="form-label">Nome</label>
      <input [(ngModel)]="certificado.nome" #nomeRef="ngModel" name="nome" maxlength="150" required type="text" class="form-control custom-input" id="nome" placeholder="Nome do aluno"/>
      @if (campovalido(nomeRef) ){
        <div class="error-message d-flex align-items-center">
          <i class="ph ph-warning-circle"></i>
          <p class="m-0">O nome do aluno é obrigatório</p>
        </div>
      }
    </div>
    <div class="mb-3 d-flex align-items-end ">
      <div class="flex-grow-1 me-2 custom-input-group">
        <label for="atividade" class="form-label">Atividade</label>
        <input [(ngModel)]="atividade" name="atividade" #atividadeRef="ngModel" maxlength="150" required type="text" class="form-control custom-input" id="atividade" placeholder="Atividade exercida" />
      </div>
      <app-secondary-button (click)="adicionarAtividade()" [disabled]="!atividade || atividade.length === 0" textoBotao="Adicionar" phClass="ph ph-plus" ></app-secondary-button>
    </div>
    <div class="atividade-group">
      <label for="nome" class="form-label">Lista de Atividades</label>
      <div class="item-list">

      @for (atividade of certificado.atividades; track $index) {
        <div class="item">
          <span class="item-text">{{atividade}}</span>
          <div (click)="excluirAtividade($index)" class="remove-btn">
            <i class="ph-bold ph-x"></i>
          </div>
        </div>
        <hr [hidden]="$index == (certificado.atividades.length - 1)" />

      }

      </div>
    </div>
    <app-primary-button (click)="submit()" [disabled]="!formValido()" [textoBotao]="'Gerar Certificado'"></app-primary-button>
  </div>
</form>
